@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap');

body 
{
    font-size: 16px;
    color: black;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #36384D;
}
article
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.block1
{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.inblock1
{
    background-color: white;
    padding: 60px;
    border-radius: 25px;
}
.inblock1
{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
.inblock1 h1
{
    max-width: 280px;
    color: #36384D;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.inblock1 p
{
    max-width: 350px;
    color: #36384D;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 600;
}
.inblock1 button
{
    background-color: #36384D;
    color: white;
    height: 56px;
    border-radius: 9px;
    border: none;
    cursor: pointer;

    font-family: Raleway;
    font-size: 15px;
    font-weight: 600;
}
.inblock1 button:hover
{
    background-color: black;
}
@media screen and (max-width: 490px){
    body
    {
        background-color: white;
    }
    .block1
    {
        display: block;
        height: 100%;
    }
    .inblock1
    {
        padding: 20px;
        height: 100%;
        justify-content: space-around;
    }

}