@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
body
{
 font-size: 16px;
 overflow-x: hidden;
 color: black;
 font-family: Raleway;
 overflow-x: hidden;
 margin: 0px;
 padding: 0px;
 line-height: 1.5;
 background-color: #36384D;
}
article
{
    width: inherit;
    height: inherit;
    margin-top: 100px;
    
}
.block1
{
    display: flex;
    justify-content: center;
}
.block1in
{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    padding: 25px;
    border-radius: 34px;
    gap: 40px;
    width: 100%;
    max-width: 1000px;
    justify-content: space-around;

    
}
@media screen and (max-width: 920px){
    .block1in
    {
        flex-flow: column-reverse;

    }
}
.block1in h1
{
    font-size: 48px;
    font-weight: 800;
    line-height: 56px; 
    margin: 0px;
    margin-bottom: 26px;

}
.block1in p
{
    max-width: 400px;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin: 0px;
    margin-bottom: 18px;
        
}
.block1in ul li
{
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin: 0px;
    margin-bottom: 16px;
    list-style-image: url(/resource/items/icon-list.svg);

}
.block1in ul
{
    padding-left: 30px;
    margin: 0px;
    margin-bottom: 41px;
}
.block1in div
{
    display: flex;
    flex-flow: column nowrap;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}
.block1in input
{
    border:3px #36384D solid;
    width: 340px;
    padding-left: 15px;
    height: 56px;
    margin-bottom: 25px;
    border-radius: 9px;
}
.block1in input:focus
{
    
}
.block1in button
{
    display: block;
    max-width: 376px;
    width: 90%;
    height: 56px;
    background: linear-gradient(90deg, #FF5379, #FF693E);
    border: none;
    border-radius: 9px;
    color: white;
    font-weight: 600;
}
.left
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}
.link-button
{
    cursor: pointer;
}

    
    
